body { 
            background-color: lightsteelblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: darkblue;
            background-color: lightseagreen;
        }
        h2 {
            color: red;
            background-color: #d84343;
        }
        p {
            text-align: justify;
        }